//- Create template views/page.pug
extends ./layout.pug
//- Create a block
block body
       div
               //- This is how to get an image into your template
               img(src=pageContent.getImage('<Your-custom-type-id>.<Your-field-image-id>').url)
               //- This is how to get a structured text into your template
               !=pageContent.getStructuredText('<your-custom-type-id>.<your-field-text-id>').asHtml(ctx.linkResolver)
               !=pageContent.getStructuredText('<your-custom-type-id>.<your-field-text-id>').asHtml(ctx.linkResolver)